@import "fonts.css";

:root {
    --negro: #17181c;
    /* --primary: #0ea5e9; */
    --primary: #6366f1;
    --secondary: #aaaaaa;
}

 body {
    font-family: "Onest";
    height: auto;
    color: white;
    overflow-x: hidden;
} 


html {
    scroll-behavior: smooth;
}

.logo {
    font-family: "Iceberg";
    transition: 0.15s all ease-in-out;
}


nav a {
    transition: 0.15s all ease-in-out;
}

nav a:hover {
    color: var(--primary);
    transform: scale(1.05);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.avatar {
    border-radius: 50%;
    width: 64px;
    aspect-ratio: 1/1;
}