---
import Pill from "./Pill.astro";
import foto from "../../public/assets/images/fotoCV.png";

const logo = "CDL";
---

<div class="flex flex-col items-center gap-2 text-pretty">
  <p class="logo text-7xl sm:text-8xl hidden md:flex">
    <span class="text-indigo-500">{`{`}</span>{logo}
    <span class="text-indigo-500">{`}`}</span>
  </p>

  <div class="flex items-center text-pretty gap-3 flex-wrap md:flex-nowrap justify-center">
    <div class="flex flex-col gap-3 order-2 md:order-1">

    <p class="text-lg font-semibold"> ¡Hola! Me llamo <span class="text-indigo-500"
        >Cristian Diego Leyton</span>. </p>

      <p>
        Soy <span class="text-indigo-400"
          >técnico en análisis de sistemas informáticos</span
        > y <span class="text-indigo-400">desarrollador web</span>. Trabajo con frameworks como 
        Laravel, Livewire, Vue y Astro. Y continuo aprendiendo nuevas tecnologías.

        <br /><br />
        Me destaco por ser <span class="text-indigo-400">resolutivo</span>,
        <span class="text-indigo-400">atento a las personas</span> y
        <span class="text-indigo-400">comunicativo</span> para resolver y prevenir problemas.

        <br /><br />
        Actualmente sigo practicando por mi cuenta creando algunos proyectos pequeños para ganar
        experiencia, aprendiendo nuevas tecnologías, mejorando mi inglés y trabajando como freelance.
      </p>

      <p>
        Estudie un año de Ingenieria en la <span class="text-indigo-400"
          >UNSa</span
        >, que me sirvió para desarrollar mi lógica y estudie para técnico en
        análisis de sistemas en el <span class="text-indigo-400"
          >Instituto Superior del Milagro</span
        >.
      </p>
    </div>
    <img
      class="size-56 border border-gray-600 p-2 rounded-md order-1 md:order-2"
      src={foto.src}
      alt="Cristian Diego Leyton"
    />
  </div>

</div>
