---

---

<span
  class="badge border border-green-600 bg-green-950 dark:bg-green-200 dark:text-green-800 text-green-400 rounded-xl text-xs px-1 gap-1 flex items-center w-fit cursor-pointer hover:bg-green-900 dark:hover:bg-green-300"
>
  <p class="inline text-xl">•</p>
  <slot />
</span>

<style>
  .badge {
    position: relative;
    transition: 0.15s all ease-in;
  }

  .badge::before {
    content: "Para trabajar";
    position: absolute;
    top: -30px;
    left: 0px;
    color: var(--negro);
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    text-wrap: nowrap;
    padding: 2px;
    display: none;
    transition: 0.3s all ease-in;
  }

  .badge::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    color: var(--negro);
    background-color: #fff;
    padding: 2px;
    transform: rotate(45deg);
    display: none;
    transition: 0.3s all ease-in;
  }

  .badge:hover::before,
  .badge:hover::after {
    display: inline;
  }
</style>
