---
import Pill from "./Pill.astro";
---

<section class="">
  <h3 class="mb-4 block w-full">Por cualquier duda o consulta no dudes en contactarme. </h3>
  <div class="flex flex-wrap gap-3">
    <Pill
      href="https://api.whatsapp.com/send/?phone=3875459077&text=Hola&type=phone_number&app_absent=0"
      ><i class="bx bxl-whatsapp text-xl"></i> WhatsApp</Pill
    >

    <Pill href="mailto:leytoncristian96@gmail.com">
      <i class="bx bx-mail-send text-xl"></i> Mail
    </Pill>
    <Pill href="https://www.linkedin.com/in/cristian-leyton">
      <i class="bx bxl-linkedin-square text-xl"></i> LinkedIn
    </Pill>
    <Pill href="https://github.com/CristianLeyton">
      <i class="bx bxl-github text-xl"></i> GitHub
    </Pill>
  </div>
</section>
