---
import ExperienceItem from "../components/ExperienceItem.astro";
import Pill from "./Pill.astro";

import { datosDesarrollador } from "../layouts/CVLayout.astro";

const EXPERIENCIE = datosDesarrollador.experiencia;
---

<ol class="relative border-s border-gray-500 dark:border-gray-300">
  {
    EXPERIENCIE.map((experience) => (
      <li class="mb-5 ms-4 text-pretty">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<span class="flex justify-center">
<Pill href="/assets/files/Cristian_Leyton_CV.pdf"> <i class='bx bxs-file text-xl' ></i> Descargar CV (PDF) </Pill>
</span>