---
import AstroIcon from '../components/icons/AstroIcon.astro';
const logo = "{CDL}";
---

<footer class="flex gap-1 justify-center items-center py-3 bg-slate-800 backdrop-blur-sm text-sm dark:bg-slate-300 text-white dark:text-neutral-900">
    Sitio realizado con <AstroIcon class="size-5"></AstroIcon> por <span class="inline-block logo text-lg font-normal">{logo} </span>
</footer>