---
import ThemeToogle from "./ThemeToogle.astro";

const logo = "{CDL}";
---

<header class="sticky top-0">
<div class="flex flex-col justify-center items-center py-5 bg-black/5 backdrop-blur-sm">  
  <nav class="flex justify-center items-center gap-6 text-sm sm:text-base sm:gap-8 ">
    <a href="#inicio">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre Mi</a>
    <a href="#contacto">Contacto</a>
    <ThemeToogle></ThemeToogle>
  </nav>
</div>
</header>
