---
import SwitchTheme from "./SwitchTheme.astro";

const logo = "{CDL}";
---

<header class="sticky top-0 z-10 text-neutral-100 dark:text-neutral-700">
<div class="flex flex-col justify-center items-center py-5 bg-black/5 font-semibold dark:bg-white/20 backdrop-blur-sm">  
  <nav class="flex justify-center items-center gap-5 text-sm sm:text-base sm:gap-8">
    <a href="/#inicio">Inicio</a>
    <a href="/#proyectos">Proyectos</a>
    <a href="/#sobre-mi">Sobre Mi</a>
    <a href="/#contacto">Contacto</a>
    <SwitchTheme />
  </nav>
</div>
</header>
