---
const logo = "{CDL}";
---

<header class="flex container mx-auto justify-around items-center p-2">
  <x-logo class="logo text-4xl"> {logo} </x-logo>

  <nav class="flex gap-8">
    <a href="/">Inicio</a>
    <a href="/sobremi">Sobre Mi</a>
    <a href="/projectos">Proyectos</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>
