---
const {href} = Astro.props;
---

<a href={href} class="w-fit flex gap-1 items-center rounded-full border border-white/20 px-2 bg-gray-800/50 pill" target="_blank">
    <slot />
</a>

<style>
    .pill{
        transition: 0.15s all ease-in;
    }

    .pill:hover{
        border-color: var(--primary);
        transform: scale(1.03);
    }
</style>