---
const THEMES = ["Light", "Dark"]
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <i id="light" class='bx bxs-sun transition-all text-lg'></i>
    <!-- <i id="dark" class='bx bxs-moon absolute transition-all'></i> -->
  </button>
</div>

<style>
  
</style>

