---
const { title } = Astro.props;
---

<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Portafolio - Cristian Diego Leyton" />
  <meta name="keywords" content="HTML, CSS, JavaScript, Portafolio, Cristian, Diego, Leyton, Astro, Tailwind" />
  <meta name="author" content="Cristian Diego Leyton" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/main.css?v=1" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>{title}</title>
</head>
<body>
    <slot/>
</body>
</html>

<style>
  @media print {
    @page {
      size: A4;
      margin: 3mm; /* Ajusta el margen según necesites */
    }

    /* Oculta elementos no deseados al imprimir */
    .no-print {
      display: none;
    }
  }
</style>