---
const { title } = Astro.props;

export const datos = {
  nombre: "Cristian Diego Leyton",
  telefono: "+54-387-5459077",
  email: "leytoncristian96@gmail.com",
  direccion: "Salta - Argentina",
  link: "https://www.cdl.net.ar/",
  resumen: `Soy Técnico en análisis de sistemas informáticos. Soy
desarrollador web, trabajo con tecnologías como HTML, CSS, JS, PHP y MySQL. Actualmente trabajo dando
soporte técnico a un sistema de gestión de farmacias. Considero que soy bastante hábil a la hora de
resolver problemas de manera eficiente.
`,
  experiencia: [
    {
      title: "Auxiliar soporte técnico",
      date: "Enero 2021 - Presente",
      empresa: "Alfa Beta",
      description: `Alfa beta cuenta con un sistema de gestión/facturación de farmacias (Winfarma), soy el encargado de instalar
y dar mantenimiento a las farmacias de Salta que utilizan dicho sistema.
`,
    },
    {
      title: "Técnico en reparación de PC",
      date: "Enero 2019 - Enero 2021",
      empresa: "Independiente",
      description: `Trabajé de forma independiente reparando PC a clientes particulares. No soy especialista, pero conozco lo
suficiente para instalar sistemas operativos y armar computadoras.
`,
    },
  ],
  aptitudes: [
    "Pensamiento crítico",
    "Juicio y toma de decisiones",
    "HTML",
    "CSS",
    "JavaScript",
    "PHP",
    "MySQL",
    "Astro",
    "Laravel - Livewire",
    "VUE",
    "Tailwind - Bootstrap",
    "GIT/GITHUB",
  ],
  formacion: [
    {
      title: "Técnico en Análisis de Sistemas informáticos",
      date: "Febrero 2021 - Noviembre 2023",
      description: "Instituto Superior del Milagro.",
    },
    {
      title: "Educación Secundaria – Técnico Electrónico",
      date: "Enero 2012 - Enero 2018",
      description: "Escuela de Educación Técnica 'Albert Einstein'.",
    },
    {
      title: "Inglés",
      date: "Marzo 2024 - Presente",
      description: "Curso de Inglés en la Universidad Nacional de Salta.",
    },
  ],
  presentacion: `
  Actualmente sigo practicando por mi cuenta creando algunos proyectos pequeños para ganar
experiencia, y aprendiendo nuevas tecnologías de manera autodidacta.
Puedes ver mi portafolio si lo deseas, deje el link arriba a la derecha. También estoy tomando clases particulares para mejorar mi inglés. Mientras, trabajo medio tiempo como soporte técnico.
  `,
};
---

<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Portafolio - Cristian Diego Leyton" />
  <meta name="keywords" content="HTML, CSS, JavaScript, Portafolio, Cristian, Diego, Leyton, Astro, Tailwind" />
  <meta name="author" content="Cristian Diego Leyton" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/main.css?v=1" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>{title}</title>
</head>
<body>
    <slot/>
</body>
</html>

<style>
  @media print {
    @page {
      size: A4;
      margin: 3mm; /* Ajusta el margen según necesites */
    }

    /* Oculta elementos no deseados al imprimir */
    .no-print {
      display: none;
    }
  }
</style>