---
const { title } = Astro.props;

export const datosDesarrollador = {
  nombre: "Cristian Diego Leyton",
  telefono: "+54-387-5459077",
  email: "leytoncristian96@gmail.com",
  direccion: "Salta - Argentina",
  link: "https://www.cdl.net.ar/",
  resumen: `Soy técnico en análisis de sistemas informáticos y 
  desarrollador web full stack. Trabajo con tecnologías como HTML, CSS, JS, PHP y MySQL. 
  Trabajé 4 años brindando soporte técnico a un sistema de gestión de farmacias. 
  Me destaco por ser resolutivo, atento y comunicativo.
`,
experiencia: [
  {
    title: "Desarrollador Web Freelance",
    date: "Febrero 2025 - Actualidad",
    empresa: "Independiente",
    description: `Diseño y desarrollo de soluciones digitales personalizadas para clientes, 
    incluyendo sistemas de gestión de alumnos, landing pages orientadas a marketing 
    y tiendas online.`,
  },
  {
    title: "Auxiliar de Soporte Técnico",
    date: "Enero 2021 - Agosto 2025",
    empresa: "Alfa Beta",
    description: `Instalación, configuración y mantenimiento del sistema de gestión de farmacias (Winfarma) 
    en diferentes puntos de la provincia de Salta. 
    Asistencia técnica remota y presencial.`,
  },
  {
    title: "Técnico en Reparación de PC",
    date: "Enero 2019 - Enero 2021",
    empresa: "Independiente",
    description: `Mantenimiento preventivo y correctivo de equipos de escritorio y portátiles, 
    instalación de sistemas operativos y armado/actualización de hardware.`,
  },
],
  aptitudes: [
    "HTML",
    "CSS",
    "JavaScript",
    "PHP",
    "MySQL",
    "Astro",
    "Laravel - Livewire",
    "VUE",
    "Tailwind - Bootstrap",
    "GIT/GITHUB",
    "Resolutivo y orientado a resultados",
    "Autonomía, comunicativo y colaborativo",
  ],
  formacion: [
    {
      title: "Técnico en Análisis de Sistemas informáticos",
      date: "Febrero 2021 - Noviembre 2023",
      description: "Instituto Superior del Milagro.",
    },
    {
      title: "Inglés",
      date: "Marzo 2024 - Presente",
      description: "Curso de Inglés en la Universidad Nacional de Salta.",
    },
    {
      title: "Educación Secundaria - Técnico Electrónico",
      date: "Enero 2012 - Enero 2018",
      description: "Escuela de Educación Técnica 'Albert Einstein'.",
    },
  ],
  presentacion: `
  Me destaco por mi capacidad para comunicarme de forma clara y  
  escuchar activamente, facilitando la resolución y prevención de problemas.
  Actualmente sigo practicando por mi cuenta creando algunos proyectos pequeños para ganar
  experiencia, aprendiendo nuevas tecnologías de manera autodidacta y trabajando como freelance.
  Puedes ver mi portafolio si lo deseas, deje el link arriba a la derecha.
`,
};

export const datosTecnico = {
  nombre: "Cristian Diego Leyton",
  telefono: "+54-387-5459077",
  email: "leytoncristian96@gmail.com",
  direccion: "Salta - Argentina",
  link: "",
  resumen: `Soy técnico en análisis de sistemas informáticos, y técnico electrónico. Trabajé 4 años brindando
soporte técnico a un sistema de gestión de farmacias. 
Me destaco por ser resolutivo, atento a las personas y comunicativo para resolver y prevenir problemas técnicos.
`,
  experiencia: [
    {
      title: "Auxiliar soporte técnico",
      date: "Enero 2021 - Agosto 2025",
      empresa: "Alfa Beta",
      description: `Alfa beta cuenta con un sistema de gestión/facturación de farmacias (Winfarma), fuí el encargado de instalar
y dar mantenimiento a las farmacias de Salta que utilizan dicho sistema.
`,
    },
    {
      title: "Técnico en reparación de PC",
      date: "Enero 2019 - Enero 2021",
      empresa: "Independiente",
      description: `Trabajé de forma independiente reparando PC a clientes particulares. 
      Tengo experiencia instalando sistemas operativos, armando, actualizando y dandole mantenimiento a equipos.`,
    },
  ],

  aptitudes: [
    "Escucha atenta, y entendimiento del cliente",
    "Atención al cliente",
    "Instalaciones de Hardware",
    "Instalaciones de Software",
    "Redes",
    "Sistemas operativos",
    "Autonomía y colaborativo",
    "Resolutivo y orientado a resultados",
  ],
  formacion: [
    {
      title: "Técnico en Análisis de Sistemas informáticos",
      date: "Febrero 2021 - Diciembre 2023",
      description: "Instituto Superior del Milagro.",
    },
    {
      title: "Inglés",
      date: "Marzo 2024 - Presente",
      description: "Curso de Inglés en la Universidad Nacional de Salta.",
    },
    /*     {
      title: "Técnico en reparación PC's",
      date: "Agosto 2012 - Diciembre 2012",
      description: "Fundación Roberto Romero",
    }, */
    {
      title: "Educación Secundaria – Técnico Electrónico",
      date: "Enero 2012 - Enero 2018",
      description: "Escuela de Educación Técnica 'Albert Einstein'.",
    },
  ],

  presentacion: `
    Tengo 4 años de experiencia brindando soporte técnico. Se me da bien identificar la causa de un problema 
    y encontrar una solución rápida. He trabajado en la instalación, 
    configuración y mantenimiento de equipos con Windows y Linux, 
    lo que me ha permitido desarrollar un conocimiento sólido en la gestión de software y hardware. 
    Además, tengo experiencia en la resolución de problemas relacionados con redes e impresoras. 
    Me destaco por mi capacidad para comunicarme de forma clara, escuchar activamente y asesorar a los usuarios, 
    facilitando la resolución y prevención de problemas.`,
};
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Portafolio - Cristian Diego Leyton" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Portafolio, Cristian, Diego, Leyton, Astro, Tailwind"
    />
    <meta name="author" content="Cristian Diego Leyton" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/main.css?v=1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body class="text-pretty">
    <slot />
  </body>
</html>

<style>
  @media print {
    @page {
      size: A4;
      margin: 1mm; /* Ajusta el margen según necesites */
    }

    /* Oculta elementos no deseados al imprimir */
    .no-print {
      display: none;
    }
  }
</style>
