---
import Header from "../components/Header.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Portafolio - Cristian Diego Leyton" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, Portafolio, Cristian, Diego, Leyton, Astro, Tailwind"
    />
    <meta name="author" content="Cristian Diego Leyton" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/main.css?v=1" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta property="og:title" content="Cristian Diego Leyton" />
    <meta property="og:description" content="Desarrollador web. Mira mis últimos proyectos." />
    <meta property="og:image" content="/assets/images/fotoCV.png" />
    <meta property="og:url" content="https://www.cdl.net.ar/" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="es_AR" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cristian Diego Leyton">
    <meta name="twitter:description" content="Desarrollador web. Mira mis últimos proyectos.">
    <meta name="twitter:image" content="/assets/images/fotoCV.png">

    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="">
    <Header />
    <div
    class="fixed top-0 z-[-2] h-screen w-screen text-neutral-200 dark:text-neutral-900 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] bg-neutral-900 dark:bg-neutral-50"
    >
    </div>
    <slot />
    <Footer />
  </body>
</html>
